<section id="full">
    <div class="resume">
        <!-- HEADER -->
        {{> header }}
        <div class="resume-main">
            {{> left-part }}
            {{> right-part }}
        </div>
    </div>
</section>
