<section id="skills">
  {{#each resume.skills.list}}
  <div class="skills-section-columns">
    <!-- Langages/Frameworks -->
      <div class="skills-category">
        <h3>{{category}}</h3>
          <div class="skills-list">
          {{#each list}}
            <div class="skill-item">{{name}}</div>
          {{/each}}
          </div>
      </div>
    {{/each}}
  </div>
</section>